/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import http://fonts.googleapis.com/css?family=Raleway;


body {
    margin: 30px;
    background-color: black;
    width: 1200px;
    margin: auto;
    
}

li {
  list-style: none;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 14px 10px;
}

div {
	color: white;
}

a {
	text-decoration: none;
	text-transform: none;
}

.nav a {
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.nav .tabs a {
	font-size: 18px
}

.nav li {
  display: inline;
  text-transform: uppercase;
}

div.login_insert {
	clear: both;
	float: left;
}
p {
	display:inline;
}
	
p.text {
    font-family: Arial, Helvetica, sans-serif ;
	font-size: 14px;
	white-space: pre-line;
}
	
p.tabs {
	font-size: 18px;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

img.logo {
    width: auto;
    height: auto;
}

p.tabs:hover, p.tabs a:hover {
	background: white;
	color: black;
	cursor: pointer;
	transition: background 0.25s color 0.25s;
}

li p.scores a {
	color: white;
	font-size: 14px;
	text-decoration: none;
	text-transform: none;
}

div.framed {
	border: 2px solid white;
	display: inline-block;
}

textarea {
	width: 500px;
	height: 200px;
}

input.textfield {
	width: 500px;
}

input.time {
	width: 212px;
}

hr.perf {
	color: white;
	width: 100%;
	float: left;
}

div.perf {
	width: 50%;
}

div.perf a {
	color: white;
}

h1 a {
	color: white;
	text-transform: none;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: relative;
  top: 0; left: 0;
  width: 512px;
  height: 288px;
}

li.start {
	display: inline;
}

#upcoming {
	float: right;
}

#upcoming a {
	color: white;
	text-transform: none;
}
